<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @model.Comment %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= @model.commenter %>
</p>

<p>
  <strong>Body:</strong>
  <%= @model.body %>
</p>

<p>
  <strong>Post:</strong>
  <%= @model.post %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
