<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved:
  </h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "form-control", id: "name" , placeholder: "Title" %>
  <footer>Text note</footer>
</div>

<div class="field form-group">
  <%= f.label :body, "Text" %>
  <%= f.text_area :body, class: "form-control" %>
</div>

<div class="field form-group">
  <%= f.label :author, "Author" %>
  <%= f.collection_select(:author_id, Author.all, :id, :name, {}, {:class=>'form-control'} ) %>
</div>

<div class="actions form-group text-right">
  <%= f.submit "OK", title: "Update", class: "btn btn-default glyphicon glyphicon-ok" %>
</div>
<% end %>