<h1>Listing Posts</h1>

<table class="table">
 <tbody>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= Author.find(post.author_id).name %></td>
      <td><%= link_to Author.find(post.author_id).name, edit_author_path(post.author_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New Post', new_post_path %>