<div class="container">
  <%= form_for :post, url: posts_path, html: { role: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control", id: "name" , placeholder: "Enter Name" %>
  </div>

  <div class="field form-group">
    <%= f.label :body, "Text" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :author, "Author" %>
    <%= f.collection_select(:author_id, Author.all, :id, :name, {}, {:class=>'form-control'} ) %>
  </div>

  <div class="actions form-group">
      <%= f.submit %>
  </div>
  <% end %>
</div>